<link rel="stylesheet" href="style.css">

      <button class="center"  >center</button>
      <button class = "lRight"  >lower-right</button>
      <div class="box">
          <div class="drag">  </div>
      </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="index.js"></script>
  
