.drag {
    position: relative;
    width: 100px;
    height: 100px;
    cursor:move;
    background:blue;    
}

.box {
    background-color: gray;
	width: 700px;
    height: 500px;
    margin:0 auto;
    top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
    position: absolute;
}
.dragCenter{
   top:0 ;
   left:0 ;
   bottom:0 ;
   right:0;
   margin:auto;
   position: absolute;
}
.dragLowerRight{
    bottom:0 !important;
    right:0 !important;
    position:absolute;
}